// Navigation Styles here
header {
    width: 48%;
    align-items: center;
    margin: 0 10%;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        

        .header-img {
            border-top: 2px dashed silver;
        }
    }
}